html {
    background-color: var(--background-color);
    --nav-a-color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html:has(option[value="light"]:checked) {
  --nav-color: #335765;
  --background-color: #B6D9E0;
  --text-color: black;
}

html:has(option[value="dark"]:checked) {
  --nav-color: #505055;
  --background-color: #020202;
  --text-color: white;
}

html {
  --select-background-color: var(--nav-color);
  --select-text-color: var(--nav-a-color)
}

.content {
  display: flex;
  width: min(1000px, 90%);
}

.nav {
  height: 39px;
  width: min(1000px, 90%);
  margin: auto;
  background-color: var(--nav-color);
  padding-top:  3px;
  padding-bottom: 3px;
  border-radius: 2em;
  margin-bottom: 10px;
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0.5em;
}

nav a {
  color: var(--nav-a-color);
}

nav li:has(a:hover){
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
}

nav li {
    display: inline-block;
    padding: 0 1em;
    margin: 0;
    border-radius: 5px;
}

caption-image {
  display: flex;
  gap: 20px;
  height: 200px;
  align-items: center;
}

img {
  height: 200px;
  width: 200px;
}

.selection {
  width: min(1000px, 90%);
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

p, h2 {
  color: var(--text-color)
}

select {
  background-color: var(--select-background-color);
  text-align: center;
  color: var(--select-text-color);
  border-radius: 5px;
  border: 0px;
  width: 80px;
  padding-top: 3px;
  padding-bottom: 3px;
}

contenthead {
  text-align: center;
}

content {
  display: flex;
  width: 100%;
}

language {
  background-color: var(--nav-color);
  display: flex;
  padding: 2px 15px;
  border-radius: 5px;
  gap: 15px;
}

language a {
  color: var(--nav-a-color);
}

sidebar {
  border-radius: 10px;
  background-color: var(--nav-color);
  padding: 10px 30px 10px 20px;
}

sidebar li {
  display: block;
}

sidebar h3 {
  text-align: center;
  color: var(--nav-a-color);
}

sidebar a {
  color: var(--nav-a-color);
}

main {
  color: var(--text-color);
  padding-left: 20px;
}

@media only screen and (orientation:portrait) and (max-device-width: 480px){
  html {
    font-size: 35px;
  }
  
  .nav {
    height: 80px;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .selection select {
    height: 40px;
    width: 150px;
    font-size: 27px;
  }
}
