html {
    background-color: #B6D9E0;
}

body {
    font-family: sans-serif;
}

.nav {
    margin: auto;
    max-width: 50em;
    background-color: #335765;
    padding-top:  3px;
    padding-bottom: 3px;
    border-radius: 2em;
    margin-bottom: 2em;
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0.5em;
}

nav li {
    display: inline-block;
    padding: 0 1em;
    margin: 0;
}

nav li:not(:last-of-type) {
    border-right: 1px solid black;
}  

nav a {
    color: white;
}

.head {
    text-align: center;
}

.cont {
    margin: auto;
    max-width: 45em;
}

.image {
    text-align: center;
}

.image img {
    max-width: 30%
}

.caption-image {
    border: solid black 2px;
    display: flex;
}

.caption-image {
    border: solid black 2px;
    padding-right: 2em;
    display: flex;
}

.caption-image img {
    padding-right: 2em;
}
