{% extends "layout.html" %}

{% block title %}Veskuvain{% endblock %}

{% block curr1 %}index{% endblock %}
{% block curr2 %}index{% endblock %}

{% block content %}
<content-index>
  <main>
    <h2>Vesa Vainio</h2>
    <hr/>
    {% if session.language == 'fi' %}
      <p>
        Hei!
      </p>
      <p>
        Olen tietojenkäsittelytieteen opiskelija Helsingin Yliopistossa.
        Erityisesti koneoppiminen ja tekoäly innostavat minua.
      </p>
      <p>
        Tässä muutama projekteistani:
      </p>
      <ul>
        <li>
          <a href="/cv-demo">Konenäön konseptitodistus</a>
        </li>
        <li>
          <a href="/mpew-demo">Pörssisähkön hintavahti</a>
        </li>
        <li>
          <a href="https://github.com/vainiovesa/neural-network">Yleiskäyttöinen neuroverkko</a>
        </li>
      </ul>
    {% elif session.language == 'en' %}
      <p>
        Hello there!
      </p>
      <p>
        I am a Computer Science Student at the University of Helsinki.
        Especially machine learning and artificial intelligence inspire me. 
      </p>
      <p>
        Here are some of my projects:
      </p>
      <ul>
        <li>
          <a href="/cv-demo">Computer Vision Proof of Concept</a>
        </li>
        <li>
          <a href="/mpew-demo">Market Price Electricity Watch</a>
        </li>
        <li>
          <a href="https://github.com/vainiovesa/neural-network">General Purpose Neural Network</a>
        </li>
      </ul>
    {% endif %}
  </main>
  <sidebar>
    <contact>
      {% if session.language == 'fi' %}
        <h3>Ota yhteyttä</h3>
      {% elif session.language == 'en' %}
        <h3>Contact</h3>
      {% endif %}
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/vesavain/">LinkedIn</a>
        </li>
        <li>
          <a href="https://github.com/vainiovesa">GitHub</a>
        </li>
      </ul>
    </contact>
  </sidebar>
</content-index>
{% endblock %}
