{% extends "layout.html" %}

{% block title %}Veskuvain{% endblock %}

{% block content %}
<content-index>
  <main>
    <h2>Vesa Vainio</h2>
    <hr/>
    {% if session.language == 'fi' %}
      <p>
        Hei!
      </p>
      <p>
        Olen tietojenkäsittelytieteen opiskelija Helsingin Yliopistossa.
        Erityisesti koneoppiminen ja tekoäly innostavat minua.
      </p>
      <p>
        Tässä muutamia projektejani:
      </p>
      <ul>
        <li>
          a
        </li>
        <li>
          b
        </li>
        <li>
          c
        </li>
      </ul>
    {% elif session.language == 'en' %}
      <p>
        Hello there!
      </p>
      <p>
        I am a Computer Science Student at the University of Helsinki.
        Especially machine learning and artificial intelligence inspire me. 
      </p>
      <p>
        Here's some of my projects:
      </p>
      <ul>
        <li>
          a
        </li>
        <li>
          b
        </li>
        <li>
          c
        </li>
      </ul>
    {% endif %}
  </main>
  <sidebar>
    <contact>
      {% if session.language == 'fi' %}
        <h3>Ota yhteyttä</h3>
      {% elif session.language == 'en' %}
        <h3>Contact</h3>
      {% endif %}
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/vesavain/">LinkedIn</a>
        </li>
        <li>
          <a href="https://github.com/vainiovesa">GitHub</a>
        </li>
      </ul>
    </contact>
  </sidebar>
</content-index>
{% endblock %}
