{% extends "layout.html" %}

{% block title %}Veskuvain{% endblock %}

{% block content %}
<content>
  <sidebar>
    <contact>
      <h3>Contact</h3>
      <ul>
        <li>
          <a href="https://www.linkedin.com/in/vesavain/">LinkedIn</a>
        </li>
        <li>
          <a href="https://github.com/vainiovesa">GitHub</a>
        </li>
      </ul>
    </contact>
  </sidebar>
  <main>
    <h2>Vesa Vainio</h2>
    {% if session.language == 'fi' %}
      <p>
        Suomeksi!
      </p>
    {% elif session.language == 'en' %}
      <p>
        In english!
      </p>
    {% endif %}
  </main>
</content>
{% endblock %}
