<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="icon/png" href="/static/icon.png"/>
</head>

<body>
  <div class="nav">
    <nav>
      {% if session.language == 'fi' %}
        <ul>
          <li><a href="/">Etusivu</a></li>
        </ul>
      {% elif session.language == 'en' %}
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      {% endif %}
    </nav>
  </div>

  <div class="selection">
    <mode>
      {% if session.language == 'fi' %}
        <select>
          <option value="dark">Tumma</option>
          <option value="light">Vaalea</option>
        </select>
      {% elif session.language == 'en' %}
        <select>
          <option value="dark">Dark</option>
          <option value="light">Light</option>
        </select>
      {% endif %}
    </mode>
    <language>
      <a {% if session.language == 'fi' %}id="active"{% endif %} href="/languages/{% block curr1 %}{% endblock %}/fi">Fi</a>
      <a {% if session.language == 'en' %}id="active"{% endif %} href="/languages/{% block curr2 %}{% endblock %}/en">En</a>
    </language>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
