<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="icon/png" href="/static/icon.png"/>
</head>

<body>
  <div class="nav">
    <nav>
      <ul>
        <li><a href="/">Etusivu</a></li>
      </ul>
    </nav>
  </div>

  <div class="selection">
    <mode>
      <select>
        <option value="dark">Dark</option>
        <option value="light">Light</option>
      </select>
    </mode>
    <language>
      <a href="/languages/fi">Fi</a>
      <a href="/languages/en">En</a>
    </language>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
