{% extends "layout.html" %}

{% block title %}CV Demo{% endblock %}

{% block curr1 %}mpew-demo{% endblock %}
{% block curr2 %}mpew-demo{% endblock %}

{% block content %}
<content>
  <main>
    <contenthead>
      {% if session.language == 'fi' %}
        <h2>Pörssisähkön hintavahti</h2>
      {% elif session.language == 'en' %}
        <h2>Market Price Electricity Watch</h2>
      {% endif %}
      <hr/>
    </contenthead>
      {% if session.language == 'fi' %}
        <p>
          Tässä projektissa käytän <a href="https://transparency.entsoe.eu/">ENTSO-E Transparency Platform</a>
          API-rajapintaa Suomen pörssisähkön hinnan selvittämiseen. Hinnan avulla kontrolloidaan liikennevaloja,
          joista näkee kätevästi, kannattaako sähköä kuluttaa juuri nyt. Otin liikennevalot tänne näytille ja
          niiden lähdekoodi on nähtävillä
          <a href="https://github.com/vainiovesa/market-price-electricity-watch">GitHub -tililläni</a>.
        </p>
        <p>
          Liikennevalot toimivat seuraavasti:
        </p>
        <ul>
          <li>Kun hinta on alhainen, palaa vihreä valo.</li>
          <li>Jos hinta ylittää <b>{{ info.yb }}</b> senttiä, syttyy keltainen valo.</li>
          <li>Jos hinta ylittää <b>{{ info.rb }}</b> senttiä, palaa punainen valo.</li>
        </ul>
        <p>
          Hinta haettiin <b>{{ info.ct }}</b>, jolloin hinta oli <b>{{ info.price }} senttiä / kWh</b>.
        </p>
      {% elif session.language == 'en' %}
        <p>
          In this project, I use the <a href="https://transparency.entsoe.eu/">ENTSO-E Transparency Platform</a>
          API to retrieve the market electricity price in Finland. The price is used to control a set of traffic
          lights that conveniently indicate whether it's a good time to consume electricity. I've brought the
          traffic lights here for display and you can view their source code on
          <a href="https://github.com/vainiovesa/market-price-electricity-watch">my GitHub</a>.
        </p>
        <p>
          The traffic lights operate as follows:
        </p>
        <ul>
          <li>When the price is low, the green light is on.</li>
          <li>If the price exceeds <b>{{ info.yb }}</b> cents, the yellow light turns on.</li>
          <li>If the price exceeds <b>{{ info.rb }}</b> cents, the red light appears.</li>
        </ul>
        <p>
          The price was fetched at <b>{{ info.ct }}</b>, at which time the price was <b>{{ info.price }} cents / kWh</b>.
        </p>
      {% endif %}
    <traffic-lights>
      <housing>
        <inner>
          <face class="r" {% if lights["r"] %}id="active"{% endif %}></face>
          <face class="y" {% if lights["y"] %}id="active"{% endif %}></face>
          <face class="g" {% if lights["g"] %}id="active"{% endif %}></face>
        </inner>
      </housing>
    </traffic-lights>
  </main>
</content>
{% endblock %}
